[submodule "src/adversarial_decoding"]
	path = src/adversarial_decoding
	url = https://github.com/collinzrj/adversarial_decoding.git

[submodule "src/GASLITE"]
	path = src/GASLITE
	url = https://github.com/matanbt/GASLITE.git
[submodule "src/PoisonedRAG"]
	path = src/PoisonedRAG
	url = https://github.com/sleeepeer/PoisonedRAG.git
